<p>User name : <%= @user.name %>
<p>Email : <%= @user.email %>
<p>Number of Kills : <%= @user.number_of_kills %>
<% if @user.is_alive == true  %>
		<p>You are currently alive</p>
	<% else %>
		<p>You are currently dead</p>
	<% end  %>